APPLE_ID=your_apple_id
TEAM_ID=your_team_id

MATCH_GIT_URL=git@github.com:CreaMakers/ios-certificates.git

APP_IDENTIFIER=com.zhelearn.CSUSTPlanet
WIDGET_IDENTIFIER=com.zhelearn.CSUSTPlanet.CSUSTPlanetWidget

APP_STORE_CONNECT_API_KEY_KEY_ID=your_key_id
APP_STORE_CONNECT_API_KEY_ISSUER_ID=your_issuer_id
APP_STORE_CONNECT_API_KEY_KEY_CONTENT=your_key_content
