<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConfigAppGroupID</key>
	<string>$(CSUSTPLANET_GROUP_ID)</string>
	<key>ConfigCloudContainerID</key>
	<string>$(CSUSTPLANET_ICLOUD_ID)</string>
	<key>ConfigKeychainGroup</key>
	<string>$(CSUSTPLANET_KEYCHAIN_ID)</string>
	<key>ConfigApiHostProd</key>
	<string>$(CSUSTPLANET_API_HOST_PROD)</string>
	<key>ConfigApiHostDev</key>
	<string>$(CSUSTPLANET_API_HOST_DEV)</string>
	<key>ConfigAppBundleID</key>
	<string>$(CSUSTPLANET_APP_BUNDLE_ID)</string>
	<key>ConfigWidgetBundleID</key>
	<string>$(CSUSTPLANET_WIDGET_BUNDLE_ID)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>pt.csust.edu.cn</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>xk.csust.edu.cn</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>yktwd.csust.edu.cn</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
</dict>
</plist>
